.forgotPassword-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(70vh);
}

.forgotPassword-content {
  border: 1px var(--darkgray) solid;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  justify-content: center;
  padding: 10px;
}

.forgotPassword-content h3 {
  text-align: center;
  margin: 10px 0;
}
.emailPassword {
  width: 100%;
  outline-color: none;
  margin-bottom: 0 0 25px 0;
}

.confirm-decision {
  justify-content: center;
  align-items: center;
}

.confirm-decision .btn {
  margin-bottom: 15px;
  width: 100%;
}

/* Medium devices (landscape tablets, 820px and up) */
@media only screen and (max-width: 820px) {
}

/* Medium devices (landscape tablets, 750px and up) */
@media only screen and (max-width: 750px) {
}

/* Medium devices (landscape tablets, 650px and up) */
@media only screen and (max-width: 650px) {
  .forgotPassword-content {
    width: 80%;
  }

  .confirm-decision .btn {
    margin-bottom: 10px;
  }
}

/* Medium devices (landscape tablets, 300px and up) */
@media only screen and (max-width: 300px) {
  .forgotPassword-content {
    width: 100%;
  }
  .forgotPassword-content {
    border: none;
  }

  .confirm-decision .btn {
    width: 100%;
  }
}
